:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: black;
	background-color: #f4f4f4;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 320px;
	min-height: 100vh;
}
